#account-header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

#account-header li{
    margin: 10px;
    float: left;
}

#account-header {
    margin-top: 0;
    width: 100%;
    height: 40px;
    font: normal 20px "Arial";
    text-decoration: none;
    background-color: #c7ddef;
    opacity: 0.8;
}

#account-header a{
    text-decoration: none;
    color: blue
}