
#post-detail {
    position: relative;
    top: 40px;
    width: 80%;
    left: 10%;
}

#post-detail #post-detail-title {
    position: center;
    text-align: center;
    font: bold 30px "Arial";
}

#post-detail #post-detail-author {
    position: center;
    text-align: center;
    margin-top: 10px;
    font: normal 18px "Arial";
}

#post-detail #post-detail-publish-time {
    position: center;
    text-align: center;
    margin-top: 10px;
    font: italic 16px "Arial";
    color: #2e353d;
}

#post-detail #post-detail-content {
    margin-top: 0;
    position: center;
    text-align: left;
    font: normal 16px "WenQuanYi Micro Hei";
    color: #2e353d;
}

#post-detail-comments ul{
    position: absolute;
    left: 80%;
}

#new-comment {
    position: relative;
    top: 50px;
    left: 10%;
    width: 79%;
}

#new-comment #comment-content {
    position: center;
    width: 100%;
    height: 100px;
}

#new-comment #submit-comment {
    position: relative;
    left: 94%;
}
