#post-list {
    top: 50px;
    width: 100%;
    background-color: lightcyan;
    padding-bottom: 40px;
}

#post-list ul{
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: auto;
}

#post-list ul li{
    margin-left: 10px;
    float: left;
    font: normal 30px "Helvetica";
}

#post-list ul li a{
    text-decoration: none;
    color: blue
}

#post