#post-list{
    position: absolute;
    top: 40px;
}

#post-list a ul li{
    text-decoration: none;
    color: blue;
    font: normal 14px "Arial";
}

#post-list a ul{
    width: 100%;
    border-bottom: black 10px;
}