.post {
    max-width: 60%;
    margin-left: 20%;
    margin-top: 40px;
    min-height: 150px;
    border-bottom: #99ccff solid 1px;
}

#new-post-content{
    min-height: 300px;
}

#new-post{
    margin-top: 30px;
    margin-left: 10%;
    max-width: 80%;
}

.media-heading {
    font-weight: bold;
}

.media-left {
    margin-right: 2%;
}

.media .info {
    margin-top: 15px;
}

.post-info {
    margin-left: 1%;
    margin-right: 0.5%;
}

.post-author-avatar {
    margin-right: 1%;
}

.markdown {
    overflow: hidden;
    line-height: 2;
    word-wrap: break-word;
    margin-top: 50px;
    text-align: justify;
}

.post-title {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.header {
    text-align: center;
    margin-top: 10px;
}

.like-post {
    margin-top: 30px;
    text-align: center;
}

.like-button {
    background-image: url('https://s3.amazonaws.com/django-react/like.jpeg');
    background-size: 50px 50px;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 50px;
}

.new-comment-form {
    margin-bottom: 100px;
    max-width: 60%;
    margin-top: 40px;
    margin-left: 20%;
}

.new-comment-content {
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    word-wrap: break-word;
}

.comment {
    max-width: 62%;
    margin-left: 18%;
    min-height: 120px;
    border-bottom: #99ccff solid 1px;
    margin-top: 30px;
    padding-left: 2%;
    padding-right: 2%;
}

.comment .media-left {
    margin-right: 5%;
    max-width: 80px;
}

.comment-author {
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.comment-pub-time{
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#show-more-comments{
    min-width: 30%;
    margin-top: 40px;
}