.media{
    max-width: 60%;
    margin-left: 20%;
    margin-top: 40px;
    min-height: 150px;
    border-bottom: #99ccff solid 1px;
}

.media-heading{
    font-weight: bold;
}

.media-left{
    margin-right: 2%;
}

.media .info{
    margin-top: 15px;
}

.post-info{
    margin-left: 1%;
    margin-right: 0.5%;
}

.post-author-avatar{
    margin-right: 1%;
}
