#post-list{
    position: absolute;
    top: 40px;
}

#post-list a ul li{
    text-decoration: none;
    color: blue;
    font: normal 14px "Arial";
}

#post-list a ul{
    width: 100%;
    border-bottom: black 10px;
}

#new-post {
    position: fixed;
    top: 80px;
    left: 20%;
    width: 60%;
}

#new-post #new-post-title{
    width: 90%;
}

#new-post #new-post-content{
    width: 90%;
    height: 200px;
}

#new-post input::-webkit-input-placeholder{
    text-align: center;
}

#new-post #new-post-submit{
    position: absolute;
    left: 83%;
}